body{
    background-color: blueviolet;
}
.Todolist{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: gold;
    padding: 0px 30px ;
    border-radius: 20px;
}
button{
    margin-left: 5px;
}